
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html{

    height: 100%;
    width: 100%;

}

body{
    /* counter:rgb(247, 219, 219); */
    background-color: rgb(40, 59, 69);
    font-family: 'Roboto' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    
   
}
.container{
    border: 2px solid #090909;
    max-width: fit-content;
    background-color: rgb(29, 93, 153);
    border-radius: 12px;
    
}

.button{
    font-size: 20px;
    background-color: rgb(202, 211, 211);
    margin: 0 3px;
    padding: 15px;
    width: 60px;
    border: 2.5px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.button:hover{
    background-color: #824e4e;
    color: rgb(236, 222, 222); 
    transition: 0.5% ease-in-out;

}

.row{
    padding: 7px 7px;
}
body h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    padding-top: 0%;
    max-block-size:auto;
    color: beige;
   
}
 
.row input{
    margin: 0;
    padding: 20px 11px;
    font-size: 20px ;
    border: 2.5px solid black;
    border-radius: 10px;

}